* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root {
    --bgcolor: #080808;
    --secnd-bgcolor: #101010;
    --textcolor: white;
    --maincolor: #ea580c;
}
.btn a{
    color: #080808;
}

html {
    font-size: 60%;
    overflow-x: hidden;

}

body {
    background-color: var(--bgcolor);
    color: var(--textcolor);

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--maincolor);
    display: none;

}

.logo {
    font-size: 3rem;
    color: var(--textcolor);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.logo:hover {
    transform: scale(1.1);

}

span {
    background: linear-gradient(270deg,
            #DF8908 10%,
            #ff1d15 100%);
    background-clip: text;
    color: transparent;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--textcolor);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;


}

.navbar a:hover {
    color: var(--maincolor);
    border-bottom: 3px solid var(--maincolor);
}

.gradient_btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg,
            #DF8908 10%,
            #ff1d15 100%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;


}

.gradient_btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--maincolor);
}

/* ---------------------------------------------------------- */
/* this is home section styling */

section {
    min-height: 100vh;
    padding: 11rem 6%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

}

.home .content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}

.home .content h3 {
    margin: 1rem 0;
    font-size: 4rem;

}

.home .content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-img img {
    width: 40vw;
    /* height: 60vh; */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--maincolor);
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--maincolor),
        0 0 50px var(--maincolor),
        0 0 100px var(--maincolor);

}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    color: var(--maincolor);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover {
    color: var(--textcolor);
    background-color: var(--maincolor);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--maincolor);

}

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--maincolor);
    box-shadow: 0 0 25px var(--maincolor);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;

}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--maincolor),
        0 0 40px var(--maincolor);
}

.btn2 {
    background-color: black;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    box-shadow: 0 0 25px transparent;

}

.btn2:hover {
    box-shadow: 0 0 25px var(--maincolor);
    background-color: var(--maincolor);
    color: rgb(0, 0, 0);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--secnd-bgcolor);


}

.about-img img {
    width: 39vw;
    /* height: 60vh; */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--maincolor);
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--maincolor),
        0 0 50px var(--maincolor),
        0 0 100px var(--maincolor);

}

.about-content h2 {
    font-size: 7rem;
    text-align: left;
}

.about-content p {
    font-size: 1.8rem;

}

.about-content .btn {
    margin: 3rem 0;
}

::-webkit-scrollbar {
    width: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background-color: var(--maincolor);
}

::-webkit-scrollbar-track {
    background-color: var(--bgcolor);

}

.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;

}

.services {
    background-color: var(--bgcolor);
    color: black;
}

.services h2 {
    color: var(--textcolor);

}

.ser-cont {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-items: center;
    column-gap: 2.5px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.service-box {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bgcolor);
    border: 2px solid var(--maincolor);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 25px var(--maincolor);
    transition: 0.3s ease;


}

.service-box:hover {
    background: var(--secnd-bgcolor);
    color: var(--maincolor);
    border: 5px solid var(--maincolor);
    transform: scale(1.03);
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.info h4 {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 2rem 0;

}

.info p {
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 600;
}

.info i {
    font-size: 8rem;
}

.projects {
    background-color: var(--secnd-bgcolor);
}

.project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;

}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bgcolor);
    border: 2px solid var(--maincolor);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 25px var(--maincolor);
    transition: 0.3s ease;

}

.project-card:hover {
    box-shadow: 0 0 25px var(--maincolor),
        0 0 50px var(--maincolor);
    transform: scale(1.02);
}

.project-card img {
    max-width: 300px;
    border-radius: 2em;
    object-fit: cover;
}

.project-card h3 {
    font-size: 3rem;
}

.project-card p {
    font-size: 1.6rem;
}

.contact {
    background-color: var(--bgcolor);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--textcolor);
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-group input {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--textcolor);
    background-color: var(--bgcolor);
    border-radius: 2rem;
    border: 2px solid var(--maincolor);
    margin: 1.5rem 0;
    resize: none;
}

.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--textcolor);
    background-color: var(--bgcolor);
    border-radius: 2rem;
    border: 2px solid var(--maincolor);
    margin: 1.5rem 0;
    resize: none;
}

.footer {
    background-color: var(--secnd-bgcolor);
    padding: 10px 0;

}

.footer .social-icon {
    text-align: center;
}

.footer ul {
    text-align: center;
    font-size: 1.8rem;

}

.footer ul li {
    display: inline-block;
    margin-left: 20px;

}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;

}

.footer ul li a:hover {
    border-bottom: 3px solid var(--maincolor);
}

.footer .copyright {
    text-align: center;
    margin: 40px;
    font-size: 16px;
}

@media(max-width:1285px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--maincolor);
        border-bottom: 2px solid var(--maincolor);
        display: none;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--textcolor);
    }

    .navbar.active {
        display: block;
    }

    .gradient_btn {
        display: none;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }

    .content {
        align-items: center;
        text-align: center;

    }

    .home-img img {
        width: 55vw;
        /* height: 30vh; */
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about h2 {
        text-align: center;
        margin: 2rem 0;
    }

    .about-img img {
        width: 52vw;
    }

    .contact form {
        flex-direction: column;
    }



}